@import "tailwindcss";
@import "@heroui/styles"; 

/* Этот блок заставит HeroUI использовать твою переменную принудительно */
@layer base {
  :root {
    /* Нагло переписываем внутренние переменные HeroUI */
    --heroui-primary: var(--my-accent-color, #0072F5);
    --heroui-primary-500: var(--my-accent-color, #0072F5);
    --heroui-primary-400: var(--my-accent-color, #0072F5);
    --heroui-primary-100: var(--my-accent-color-transparent, rgba(0, 114, 245, 0.2));
    
    /* Для слайдеров и чекбоксов */
    --heroui-accent: var(--my-accent-color, #0072F5);
    --heroui-accent-500: var(--my-accent-color, #0072F5);
  }
}
html, body {
  background-color: #09090b;
  color: white;
  color-scheme: dark;
}